.CardItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(184, 135, 11, 0.473);
    padding: 5px 0;
    margin: 1% 10% 0% 10%;
    border: ridge black 4px;

}
.ItemImg{
    width: 250px;
    height: 250px;
    margin: 5px 0;
}
.ItemHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(218, 165, 32, 0.459);
    color: #f2f2f2;
    padding: 4px 2px ;
    border-radius: 10px;
    width: 100%;
    border: inset rgba(218, 165, 32, 0.459) 2px;
}