.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgba(184, 140, 11, 0.473);
    max-width: 50%;
    border-radius: 20px;
    position: relative;
    left: 25%;
    border: ridge black 4px;
}
.contenedor .marca {
    margin: 5px;
    width: 100px;
}

.navegador a {
    margin-right: 25px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
  }