.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    max-width: 50%;
    border-radius: 20px;
    position: relative;
    left: 25%;
}
.contenedor .marca {
    margin: 5px;
    width: 100px;
}


.navegador{
    padding: 20px;
    margin: 20px;
    font-size: x-large;
    row-gap: 30px;
}

